@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Rubik", sans-serif;
}

* {
  font-family: var(--font-family);
}

.bg-image {
  background-image: url(/pattern-bg-mobile.png);
}
.leaflet-container {
  height: 80dvh;
  z-index: 0;
}

@media screen and (min-width: 600px) {
  .bg-image {
    background-image: url(/pattern-bg-desktop.png);
  }
}
